html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--surface-1);
  color: var(--text-1);
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  min-height: 4rem;

  ul {
    display: inline-flex;
  }

  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 3rem;
    font-weight: 600;
    font-size: 1.25rem;
    user-select: none;
  }

  .btn-square {
    padding: 0;
    width: 3rem;
  }
}

body > menu {
  margin: 3rem auto 4rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  max-width: 768px;
  color: var(--text-2);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  user-select: none;
  text-align: center;

  a {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:hover,
    &[aria-current="true"] {
      color: var(--text-1);
    }
  }
}

body > main {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.hero-section {
  height: calc(100vh - 4rem); /* Adjust height to account for the header */
  margin-bottom: 6em;
  background-size: cover;
  background-position: center;
  padding: 0px 36px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-section .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 3rem auto 4rem;
  padding: 14px 18px;
  max-width: 1024px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* Optional: add background for better text readability */
  border-radius: 5px;
}

.hero-section .hero-content h1 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.hero-section .hero-content p {
  color: var(--text-1);
  font-size: 1rem; /* Ensure the paragraph text size */
  line-height: 1.5rem; /* Ensure the paragraph line height */
}

@media (min-width: 768px) {
  .hero-section .hero-content {
    max-width: 720px; /* Adjust max-width for desktop view */
    margin-top: 2rem; /* Add margin-top for spacing */
    margin-bottom: 2rem; /* Add margin-bottom for spacing */
    padding: 26px 32px; /* Adjust padding for desktop view */
  }

  .hero-section .hero-content h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .hero-section .hero-content p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: auto; /* Adjust height for mobile view */
    min-height: 100vh; /* Ensure the section covers the full viewport height on mobile */
  }
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; /* Adjust margin as needed */
}

.profile-picture {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .profile-picture {
    width: 400px; /* Adjust size for desktop */
    height: 400px;
  }
}

@media (max-width: 768px) {
  .profile-picture {
    width: 250px; /* Adjust size for mobile */
    height: 250px;
  }
}

.gallery-code-form {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  margin: 20px auto 50px auto;
  text-align: center;
}

.gallery-code-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-code-form label {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333333;
}

.gallery-code-form input[type="text"] {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1em;
  text-align: center; 
  width: 100%;
  max-width: 300px;
}

.gallery-code-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1em;
  cursor: pointer;
  width: auto;
}

.gallery-code-form button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .gallery-code-form {
    padding: 15px;
  }

  .gallery-code-form label {
    font-size: 1em;
  }

  .gallery-code-form input[type="text"] {
    font-size: 0.9em;
    max-width: 100%;
  }

  .gallery-code-form button {
    font-size: 0.9em;
  }
}

.centered-text {
  max-width: 768px;
  color: var(--text-1);
  font-size: 1.1rem; /* Slightly bigger font size */
  line-height: 1.75;
  margin: 0 auto; /* Center horizontally */
  text-align: center; /* Center text */
  padding: 0 25px; /* Add padding for better readability on mobile */
}

.centered-text p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  text-align: center; /* Ensure paragraphs are centered */
}

body > footer {
  margin-right: auto;
  margin-left: auto;
  color: var(--text-2);
  font-size: 0.875rem;
  line-height: 1.25rem;

  section:last-of-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;

    a:hover {
      text-decoration-line: underline;
    }
  }
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Initially hidden */
}

hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem auto 2.65rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  max-width: 1024px;
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  p {
    color: var(--text-2);
    text-wrap: balance;
  }

  @media (min-width: 640px) {
    width: 83.3333%;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }

    h2 {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
}

main > section {
  margin: 0rem auto 2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

section.galleries {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem 1.5rem;
  max-width: 1280px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 3rem;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

section.gallery {
  padding-right: 0;
  padding-left: 0;
  max-width: 1536px;

  @media (min-width: 640px) {
    padding-right: 1.5rem /* 24px */;
    padding-left: 1.5rem /* 24px */;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;

  & > img {
    transition-duration: 150ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    aspect-ratio: 3/2;
    width: 100%;
    overflow: hidden;
    object-fit: cover;

    &:hover {
      transform: scaleX(101%) scaleY(101%);
      box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    }
  }

  & > div {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;

    & > h2 {
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.375;
    }

    & > p {
      color: var(--text-2);
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}

.gallery-item {
  cursor: zoom-in;
}

.prose {
  max-width: 768px;
  color: var(--text-1);
  font-size: 1rem;
  line-height: 1.75;

  a {
    color: var(--text-1);
    font-weight: 500;
    text-decoration: underline;
  }

  p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  img {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  h3 {
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    color: var(--text-1);
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.6;
  }

  ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
    list-style-type: disc;

    & > li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      padding-left: 0.375em;
    }

    li::marker {
      color: var(--text-2);
      font-variant-numeric: tabular-nums;
      unicode-bidi: isolate;
      text-align: start !important;
      text-align-last: start !important;
      text-indent: 0 !important;
      text-transform: none;
    }
  }

  & > :first-child {
    margin-top: 0;
  }

  h3 + * {
    margin-top: 0;
  }

  figure {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  figure > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.hidden {
  display: none;
}

.group[aria-expanded="true"] {
  .group-aria-expanded\:block {
    display: block;
  }

  .group-aria-expanded\:hidden {
    display: none;
  }
}

section.social-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

section.featured {
  margin: 3rem auto 4rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  max-width: 1280px;
  color: var(--text-1-dark);
}

.featured-card {
  display: flex;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1 / 1;
  width: 100%;
  overflow: hidden;

  @media (min-width: 640px) {
    aspect-ratio: 16/9;
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    background-image: linear-gradient(to top, RGB(0 0 0 / 0.8) 10%, transparent 50%);
    padding: 1.5rem;
    width: 100%;
    height: 100%;

    & > h2 {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.25;

      @media (min-width: 768px) {
        font-size: 1.875rem;
        line-height: 2.25rem;
      }
    }

    & > p {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}
