
.header {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Adapte a cor do texto conforme necessário */
    text-align: center;
    overflow: hidden; /* Para garantir que o filtro escuro não ultrapasse a borda da div */
  }
  
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Ajuste a opacidade conforme necessário */
    z-index: 1;
  }
  .header-content {
    position: relative;
    z-index: 2;
  }
  
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Oculta qualquer transbordamento da div */
  }
  
  .background-video {
    position: relative;
    width: 300vw;
    height: 300vh;
    z-index: 1;
  }
  
  .content {
    position: absolute;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  @media (max-width: 1000px) {
    .background-video {
        display: none;
    }
  }


  .profile-container {
    width: 25%;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 0 auto;
  }
  
  /* Estilizando a foto de perfil dentro do contêiner */
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra completamente o contêiner */
  }


  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo */
  }