@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../lib/photoswipe/photoswipe.css";
@import "../lib/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css";
@import "../lib/flickr-justified-gallery/fjGallery.css";

@font-face {
  font-family: "InterVariable";
  font-weight: 100 900;
  font-display: auto;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../../fonts/InterVariable.woff2") format("woff2");
}

[x-cloak] {
  display: none !important;
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
img.lazyload:not([src]) {
  visibility: hidden;
}

:root {
  --color-primary: #171717; /* neutral-900 */
  --color-secondary: #737373; /* neutral-500 */
  --color-background: #ffffff; /* white */
}

html.dark {
  color-scheme: dark;
  --color-primary: #f5f5f5; /* neutral-100 */
  --color-secondary: #a3a3a3; /* neutral-400 */
  --color-background: #171717; /* neutral-900 */
}
