@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: auto;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../fonts/Inter-roman.var.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../jslibs/photoswipe/dist/photoswipe.css";
@import "../jslibs/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css";
@import "../jslibs/flickr-justified-gallery/dist/fjGallery.css";

html.dark {
  color-scheme: dark;
}

[x-cloak] {
  display: none !important;
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
img.lazyload:not([src]) {
  visibility: hidden;
}
