@font-face {
  font-family: "InterVariable";
  font-weight: 100 900;
  font-display: auto;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../fonts/InterVariable.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../jslibs/photoswipe/dist/photoswipe.css";
@import "../jslibs/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css";
@import "../jslibs/flickr-justified-gallery/dist/fjGallery.css";
@import "header.css";

html.dark {
  color-scheme: dark;
}

[x-cloak] {
  display: none !important;
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
img.lazyload:not([src]) {
  visibility: hidden;
}

/* Estilo para a div que envolve os botões */
.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Estilo para a div que envolve os botões */
.menu {
  position: fixed;
  display: flex;
}

/* Fixed Buttons */
.floating-button {
  background-color: #e2e6eb;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  opacity: 0.9;
  text-decoration: none;
}

/* Fixed Button Icon */
.icon {
  width: 50px;
  height: auto;
  border-radius: 10%; 
  display: block;
  margin: auto;
}

/* Button Hover Style */
.floating-button:hover {
  background-color: #a2c6f3;
  transition: background-color 0.3s ease;
}
