@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "photoswipe/dist/photoswipe";
@import "photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin";

:root {
  color-scheme: light;
  --surface-1: #ffffff;
  --surface-2: #e5e5e5;
  --text-1: #0a0a0a;
  --text-2: #737373;
}

html.dark {
  color-scheme: dark;
  --surface-1: #171717;
  --surface-2: #404040;
  --text-1: #fafafa;
  --text-2: #a3a3a3;
}
