@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../lib/photoswipe/photoswipe.css";
@import "../lib/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css";

@layer components {
  .btn {
    @apply inline-flex h-12 min-h-[3rem] shrink-0 cursor-pointer select-none flex-wrap items-center justify-center gap-2 rounded-lg border-transparent px-4 text-center text-sm font-semibold leading-4 duration-200;
    transition-property: color, background-color, box-shadow, transform;
    & {
      @apply bg-base-200 text-base-content shadow-sm outline-base-content;
    }
    &-square {
      @apply h-12 w-12 p-0;
    }
    &-ghost {
      @apply bg-transparent text-current shadow-none outline-current [@media(hover:hover)]:hover:bg-base-content/10;
    }
  }

  .card {
    @apply relative flex flex-col rounded-2xl;
    &:focus {
      @apply outline-none;
    }
    &:focus-visible {
      outline: 2px solid currentColor;
      outline-offset: 2px;
    }
    &-body {
      @apply flex flex-auto flex-col gap-2 p-4 text-sm;
    }
    &-title {
      @apply mb-1 text-lg font-semibold leading-6;
    }
  }

  .footer {
    @apply mx-auto grid grid-flow-col gap-4 p-10 text-sm text-neutral-content;
    a {
      @apply [@media(hover:hover)]:hover:underline;
      &:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 2px;
      }
    }
  }

  .navbar {
    @apply flex min-h-16 w-full items-center p-2;
  }
  :where(.navbar > *) {
    @apply inline-flex items-center;
  }
}

@font-face {
  font-family: InterVariable;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/InterVariable-Roman.woff2") format("woff2");
}

html {
  background-color: theme(colors.base-100);
  color: theme(colors.base-content);
  color-scheme: light;
  --b1: 0 0% 100%; /* white */
  --b2: 0 0% 98; /* neutral-0 */
  --bc: 0 0% 6%; /* neutral-11 */
  --nc: 0 0% 56%; /* neutral-6 */
}

html.dark {
  color-scheme: dark;
  --b1: 0 0% 10%; /* neutral-10 */
  --b2: 0 0% 15%; /* neutral-9 */
  --bc: 0 0% 98%; /* neutral-0 */
  --nc: 0 0% 56%; /* neutral-6 */
}
