{{ $scratch := newScratch }}
{{ $scratch.Set "albums" slice }}
{{ if .IsHome }}
  {{ $scratch.Add "albums" (where site.Pages.ByDate.Reverse "Params.featured" "=" true) }}
{{ end }}
{{ $scratch.Add "albums" (where .Pages.ByDate.Reverse "Params.private" "ne" true) }}


<div class="mb-12 mt-9 grid grid-cols-1 gap-x-6 gap-y-9 px-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 3xl:grid-cols-5">
  {{ range $scratch.Get "albums" | uniq }}
    {{ $images := .Resources.ByType "image" }}
    {{ if gt (len $images) 0 }}
      {{ $featured := ($images.GetMatch (.Params.featured_image | default "*feature*")) | default (index $images 0) }}
      {{ $thumbnail := $featured.Fill "900x600" }}
      {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
      {{ $counts := partial "get_counts.html" . }}
      <a class="transition-[filter] hover:brightness-90 dark:hover:brightness-110" href="{{ .RelPermalink }}" title="{{ .Title }}">
        <div class="w-full overflow-hidden rounded-xl" style="background-color: {{ $color }}">
          <img class="lazyload aspect-[3/2] w-full" data-src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}" />
        </div>
        <div class="p-5">
          <h5 class="mb-2 text-lg font-semibold leading-6">
            {{ .Title }}
          </h5>
          <p class="text-sm text-secondary">
            {{- i18n "photoCount" ($counts.images | lang.FormatNumber 0) }}
            {{ if gt $counts.albums 0 }}{{ i18n "in" }} {{ i18n "albumCount" ($counts.albums | lang.FormatNumber 0) }}{{ end -}}
          </p>
        </div>
      </a>
    {{ end }}
  {{ end }}
</div>
