{{ $albums := slice }}
{{ if .IsHome }}
  {{ $albums = $albums | append (where site.Pages.ByDate.Reverse "Params.featured" "=" true) }}
{{ end }}
{{ $albums = $albums | append (where .Pages.ByDate.Reverse "Params.private" "ne" true) }}


<div class="mx-auto mb-16 mt-8 grid max-w-screen-2xl grid-cols-1 gap-x-6 gap-y-8 px-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
  {{ range $albums | uniq }}
    {{ $images := .Resources.ByType "image" }}
    {{ if gt (len $images) 0 }}
      {{ $featured := ($images.GetMatch (.Params.featured_image | default "*feature*")) | default (index $images 0) }}
      {{ $thumbnail := $featured.Fit "600x600" }}
      {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
      {{ $imageCount := len $images }}
      {{ $albumCount := 0 }}
      {{ if .IsSection }}
        {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
          {{ $albumCount = add $albumCount 1 }}
          {{ $imageCount = add $imageCount (len (.Resources.ByType "image")) }}
        {{ end }}
      {{ end }}
      <a class="card card-compact group" href="{{ .RelPermalink }}" title="{{ .Title }}">
        <figure class="rounded-2xl shadow-sm transition-all duration-300 group-hover:scale-[1.02] group-hover:shadow-lg">
          <img class="aspect-[3/2] h-auto w-full object-cover" loading="lazy" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" src="{{ $thumbnail.RelPermalink }}" style="background-color: {{ $color }}" alt="{{ .Title }}" />
        </figure>
        <div class="card-body">
          <h2 class="card-title text-lg leading-6">{{ .Title }}</h2>
          <p class="text-base-content/60">
            {{ i18n "photoCount" ($imageCount | lang.FormatNumber 0) }}
            {{ if gt $albumCount 0 }}{{ i18n "in" }} {{ i18n "albumCount" ($albumCount | lang.FormatNumber 0) }}{{ end }}
          </p>
        </div>
      </a>
    {{ end }}
  {{ end }}
</div>
