{{ range where site.Pages.ByDate.Reverse "Params.featured" "=" true }}
  {{ $gallery := partial "get-gallery.html" . }}
  {{ if $gallery }}
    {{ $covers := where (.Resources.ByType "image") "Params.cover" "eq" true }}
    {{ $cover := "" }}
    {{ if ge (len $covers) 0 }}
      {{ $cover = index $covers 0 }}
    {{ end }}
    {{ $featured := $cover | default ((.Resources.ByType "image").GetMatch (.Params.featured_image | default "*feature*")) | default (index $gallery.images 0) }}
    {{ $thumbnail := $featured.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
    {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
    <section class="featured">
      <a class="featured-card" href="{{ .RelPermalink }}" style="background-color: {{ $color }}; background-image: url({{ $thumbnail.RelPermalink }})">
        <div>
          <h2>{{ .Title }}</h2>
          <p>
            {{ if gt $gallery.albumCount 0 }}
              {{ T "albumCount" (dict "count" ($gallery.albumCount | lang.FormatNumber 0) "photoCount" ($gallery.imageCount | lang.FormatNumber 0 | lang.Translate "photoCount")) }}
            {{ else }}
              {{ T "photoCount" ($gallery.imageCount | lang.FormatNumber 0) }}
            {{ end }}
          </p>
        </div>
      </a>
    </section>
  {{ end }}
{{ end }}
