<section class="gallery">
  <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden" image-download="{{ .Params.download | default false }}">
    {{ $images := slice }}
    {{ range $image :=  .Resources.ByType "image" }}
      {{ $title := "" }}
      {{ with $image.Exif }}
        {{ with .Tags.ImageDescription }}
          {{/* Title from EXIF ImageDescription */}}
          {{ $title = . }}
        {{ end }}
      {{ end }}
      {{ if ne $image.Title $image.Name }}
        {{/* Title from front matter */}}
        {{ $title = $image.Title }}
      {{ end }}
      {{ $images = $images | append (dict
        "Name" $image.Name
        "Title" $title
        "image" $image
        )
      }}
    {{ end }}
    {{ range sort $images (.Params.sort_by | default "Name") (.Params.sort_order | default "asc") }}
      {{ $image := .image }}
      {{ $thumbnail := $image.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
      {{ $full := $image.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
      {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
      <a class="gallery-item" href="{{ $image.RelPermalink }}" data-pswp-src="{{ $full.RelPermalink }}" data-pswp-width="{{ $full.Width }}" data-pswp-height="{{ $full.Height }}" title="{{ .Title }}" itemscope itemtype="https://schema.org/ImageObject" style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
        <img loading="lazy" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" src="{{ $thumbnail.RelPermalink }}" style="background-color: {{ $color }}" alt="{{ .Title }}" data-original-src="{{ $image.RelPermalink }}" />
        <meta itemprop="contentUrl" content="{{ $image.RelPermalink }}" />
        {{ with site.Params.Author }}
          <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
            <meta itemprop="name" content="{{ site.Params.Author.name }}" />
          </span>
        {{ end }}
      </a>
    {{ end }}
  </div>

  <div style="display: flex; justify-content: center; margin-top: 56px;">
    {{ if .Params.download_all }}
      <button id="download-all" style="background-color: #722F37; color: white; border: none; padding: 10px 16px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; cursor: pointer; border-radius: 4px;">
        Download All Images
      </button>
    {{ end }}
  </div>
</section>

<div id="spinner"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const downloadAllButton = document.getElementById("download-all");
    const spinner = document.getElementById("spinner");

    let opts = {
      lines: 13,
      length: 28,
      width: 14,
      radius: 42,
      scale: 1,
      corners: 1,
      color: '#FFF',
      opacity: 0.25,
      rotate: 0,
      direction: 1,
      speed: 1,
      trail: 60,
      fps: 20,
      zIndex: 2e9,
      className: 'spinner',
      top: '50%',
      left: '50%',
      shadow: false,
      hwaccel: false,
      position: 'absolute'
    };

    const spinnerInstance = new Spinner(opts);

    if (downloadAllButton) {
      downloadAllButton.addEventListener("click", () => {
        // Disable button and change text
        downloadAllButton.disabled = true;
        downloadAllButton.style.backgroundColor = "#4169E1";
        downloadAllButton.textContent = "Downloading...";

        const gallery = document.getElementById("gallery");
        const zip = new JSZip();
        const imgFolder = zip.folder("images");
        const items = gallery.querySelectorAll(".gallery-item");
        let imagesProcessed = 0;

        items.forEach((item, index) => {
          const url = item.querySelector("img").getAttribute("data-original-src");
          const filename = url.substring(url.lastIndexOf("/") + 1);

          fetch(url)
            .then((response) => response.blob())
            .then((blob) => {
              imgFolder.file(filename, blob);
              imagesProcessed++;
              const progress = Math.round((imagesProcessed / items.length) * 100);
              downloadAllButton.textContent = `Creating ZIP... ${progress}%`;

              if (imagesProcessed === items.length) {
                downloadAllButton.textContent = "Fetching original files. This may take a minute, please wait...";

                // Show spinner
                spinnerInstance.spin(spinner);
                spinner.style.display = "block";

                zip.generateAsync({ type: "blob" }).then((content) => {
                  // Hide spinner and show button
                  spinnerInstance.stop();
                  spinner.style.display = "none";
                  downloadAllButton.style.backgroundColor = "#4CAF50";
                  downloadAllButton.textContent = "Download Started!";

                  saveAs(content, "gallery-images.zip");

                  // Reset button text and style after 3 seconds
                  setTimeout(() => {
                    downloadAllButton.style.backgroundColor = "#722F37";
                    downloadAllButton.textContent = "Download All Images";
                    downloadAllButton.disabled = false;
                  }, 4000);
                });
              }
            });
        });
      });
    }
  });
</script>
