{{/* Return images and albums count. */}}

{{ $images := 0 }}
{{ $albums := 0 }}

{{ if .IsNode }}
  {{ range where .Pages "Params.private" "ne" true }}
    {{ $sub := partial "get_counts.html" . }}
    {{ $albums = add $albums 1 }}
    {{ $albums = add $albums $sub.albums }}
    {{ $images = add $images $sub.images }}
  {{ end }}
  {{ if ($.Param "nodeGallery") }}
    {{ $myImages := (len (.Resources.ByType "image")) }}
    {{ if or (and (eq "auto" ($.Param "hideFeatured")) (eq $myImages 1)) (eq "always" ($.Param "hideFeatured")) }}
      {{ $myImages = add $myImages -1 }}
    {{ end }}
    {{ if gt $myImages 0 }}
      {{ $images = add $images $myImages }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $images = add $images (len (.Resources.ByType "image")) }}
{{ end }}

{{ return (dict "images" $images "albums" $albums) }}
