{{ if .Title }}
<div class="header">
  <iframe class="background-video" src="https://player.vimeo.com/video/192764867?autoplay=1&loop=1&muted=1&controls=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  <div class="mx-auto mb-16 mt-9 max-w-screen-lg px-6 text-center header-content content">
    <h1 class="text-3xl font-semibold md:text-4xl">{{ .Title }}</h1>
    {{ if .Params.Description }}
    <p class="mt-6 text-neutral-200 dark:text-neutral-400 md:text-lg">{{ .Params.Description }}</p>
    {{ end }}
  </div>
</div>
{{ end }}
