<ul class="mx-auto mb-16 mt-12 hidden w-full max-w-screen-md select-none text-center text-lg font-semibold text-[--text-2]" id="menu">
  {{ range site.Menus.main }}
    <li itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      <a class="block py-2 hover:text-[--text-1] aria-[current=true]:text-[--text-1]" aria-current="{{ or (page.IsMenuCurrent .Menu .) (page.HasMenuCurrent .Menu .) }}" href="{{ .URL }}" itemprop="url">
        <span itemprop="name">{{ .Name }}</span>
      </a>
    </li>
  {{ end }}
</ul>
