{{ $featured := slice }}
{{ if .IsHome }}
  {{ $featured = where site.Pages.ByDate.Reverse "Params.featured" "=" true }}
{{ end }}


<div class="mb-12 mt-9 grid grid-cols-1 gap-x-6 gap-y-9 px-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 3xl:grid-cols-5">
  {{ range $featured }}
    {{- partial "album.html" . -}}
  {{ end }}

  {{ range where .Pages.ByDate.Reverse "Params.private" "ne" true }}
    {{ if not (in $featured .) }}
      {{- partial "album.html" . -}}
    {{ end }}
  {{ end }}
</div>
