<div class="mb-12 mt-9 sm:px-6">
  <div class="fj-gallery" style="visibility: hidden; height: 650px;">
    {{ $photos := sort (.Resources.ByType "image") (index .Params "sort_by" | default "Name") (.Params.sort_order | default "asc") }}
    {{ range $index, $original := $photos }}
      {{ if eq $original.ResourceType "image" }}
        {{ $metadata := dict }}
        {{ with $original.Exif }}
          {{ $metadata = merge .Tags $metadata }}
        {{ end }}
        {{ $rotation := "" }}
        {{ with $metadata.Orientation }}
          {{ if or (eq . 8) (eq . 7) }}
            {{ $rotation = " r90" }}
          {{ else if or (eq . 3) (eq . 4) }}
            {{ $rotation = " r180" }}
          {{ else if or (eq . 6) (eq . 5) }}
            {{ $rotation = " r270" }}
          {{ end }}
        {{ end }}
        {{ $thumbnail := ($original.Fit (printf "%s %s" "800x800" $rotation)) }}
        {{ $full := ($original.Fit (printf "%s %s" "1600x1600" $rotation)) }}
        {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
        <a
          href="{{ $original.RelPermalink }}"
          class="fj-gallery-item cursor-zoom-in"
          data-src="{{ $original.RelPermalink }}"
          data-pswp-src="{{ $full.RelPermalink }}"
          data-pswp-width="{{ $full.Width }}"
          data-pswp-height="{{ $full.Height }}"
          {{ with $metadata }}
            {{ if .Title }}
              title="{{ .Title }}"
            {{ else if .ImageDescription }}
              title="{{ .ImageDescription }}"
            {{ end }}
          {{ end }}
          itemscope
          itemtype="https://schema.org/ImageObject"
          style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}"
        >
          <img
            width="{{ $thumbnail.Width }}"
            height="{{ $thumbnail.Height }}"
            class="lazyload"
            data-src="{{ $thumbnail.RelPermalink }}"
            {{ with $metadata }}
              {{ if .ImageDescription }}
                alt="{{ .ImageDescription }}"
              {{ else }}
                {{ if .Title }}
                  alt="{{ .Title }}"
                {{ end }}
              {{ end }}
            {{ end }}
          />
          <meta itemprop="contentUrl" content="{{ $original.RelPermalink }}" />
          {{ with $.Site.Author }}
            <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
              <meta itemprop="name" content="{{ $.Site.Author.name }}" />
            </span>
          {{ end }}
        </a>
      {{ end }}
    {{ end }}
  </div>
</div>
