:root {
  color-scheme: light;
  --surface-1: #ffffff;
  --surface-2: #dee2e6;
  --text-1: #030507;
  --text-2: #868e96;
}

html.dark {
  color-scheme: dark;
  --surface-1: #16191d;
  --surface-2: #495057;
  --text-1: #f8f9fa;
  --text-2: #868e96;
}
