/*
:root {
  --color-primary: #0f172a;
  --color-secondary: #64748b;
  --color-background: #ffffff;
}

html.dark {
  --color-primary: #f1f5f9;
  --color-secondary: #94a3b8;
  --color-background: #0f172a;
}
*/
