/* Custom CSS definitions */

/*
:root {
  color-scheme: light;
  --surface-1: #ffffff;
  --surface-2: #ececec;
  --text-1: #0f0f0f;
  --text-2: #8e8e8e;
}

html[data-theme="dark"] {
  color-scheme: dark;
  --surface-1: #191919;
  --surface-2: #3a3a3a;
  --text-1: #f9f9f9;
  --text-2: #8e8e8e;
}
*/
